body {
   background-color: #505050;
   margin: 0;
}

.centered {
   margin-left: auto;
   margin-right: auto;
}

.gold {
   background-color: gold;
}

.silver {
   background-color: silver;
}

.bronze {
   background-color: #cd7f32;
}

.achievementLevel {
   width: 7px;
   padding: 5px;
}

.achievementTitle {
   font-weight: bold;
   font-size: large;
   width: 200px;
}

.achievementDescription {
   font-size: small;
}

#game {
   padding: 0 100px 100px 100px;
   width: 600px;
   height: 100%;
   background-color: aliceblue;
}

#word {
   font-weight: bold;
   font-size: xx-large;
}

#wordContainer {
   height: 100%;
   width: 100px;
}

#typing {
   width: 100%;
   text-transform: uppercase;
}

#start-content {
   position: relative;
   width: 1500px;
   height: 735px;
}

#achievementsContainer {
   border: 1px solid black;
   width: 100%;
   height: 300px;
   overflow-y: auto;
}

#achievements {
   width: 100%;
}

#killCountContainer {
   width: 100%;
   text-align: right;
}

.labelFont {
   font-family: "Aharoni", Arial, Helvetica, sans-serif;
}

.dataFont {
   font-family: "Aharoni", Arial, Helvetica, sans-serif;
}

.scaryFont {
   font-family: "Chiller", Arial, Helvetica, sans-serif;
}

#killCount {
   color: red;
   font-weight: bold;
   font-size: medium;
}

#gameInfo {
   width: 100%;
   height: 100%;
}

#zombieContainer {
   height: 310px;
}

#gameOver {
   font-weight: bolder;
   font-size: xx-large;
   color: red;
}

#gameTitle {
   color: red;
   font-size: 100px;
   font-weight: bolder;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   text-shadow: 2px 2px #500000, 2px 2px #101010;
}

#gameTitle:hover {
   font-size: 105px;
   cursor: pointer;
   text-shadow: 2px 2px #500000, 6px 6px #101010;
}

.vignette {
   box-shadow: 0 0 200px rgba(0,0,0,0.9) inset;
}